<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <%- include('../partials/nav')  %>
    <div class="create-blog content">
        <form action="/blogs/update/<%=blogs._id  %> " method="POST">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name= "title"  value="<%=blogs.title %>"  required>
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snippet" name= "snippet" value="<%=blogs.snippet %>" required>
            <label for="body">Blog Body:</label>
            <textarea id="body"   name= "body" required><%=blogs.body %></textarea>
            <button>Update</button>
        </form>
    </div>
</body>
<%- include('../partials/footer')  %>
</html>